[submodule "personal"]
    path = personal
    url = git@github.com:dGilli/dotfiles-personal.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:dGilli/dotfiles-nvim.git
